@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyMovies</h1>
    <p>Your personal movie database.</p>
</div>

<div class="text-center">

    <img src="~/img/cover.png" />
</div>